.App {
  font-family: sans-serif;
  text-align: center;
}

body {
  background-color: darkgreen;
  color: hsl(from rgb(85, 204, 85) 85 50 l);
}

img {
  border-top-style: double;
  border-top-width: 10px;
  border-top-right-radius: 30px;
  border-bottom-style: double;
  border-bottom-width: 10px;
  border-bottom-left-radius: 20px;
  border-right-style: solid;
  border-left-style: solid;
  padding: 2px;
  box-shadow: 5px 5px 20px olivedrab;
  display: inline;
}

.rainbow-letters span:nth-child(10n+1) {
  color: #ef5350;
}

.rainbow-letters span:nth-child(10n+2) {
  color: #ab47bc;
}

.rainbow-letters span:nth-child(10n+3) {
  color: #651fff;
}

.rainbow-letters span:nth-child(10n+4) {
  color: #2196f3;
}

.rainbow-letters span:nth-child(10n+5) {
  color: #3949ab;
}

.rainbow-letters span:nth-child(10n + 6) {
  color: #00bcd4;
}

.rainbow-letters span:nth-child(10n + 7) {
  color: #4caf50;
}

.rainbow-letters span:nth-child(10n + 8) {
  color: #ffc107;
}